# Created by .ignore support plugin (hsz.mobi)
**/*.iml
**/.idea
**/.idea/**
**/target
**/target/**
**/node_modules
**/node_modules/**
**/*.db
**/.vertx/**
**/.vertx
ui/src/main/frontend/node
ui/src/main/frontend/node/**
**/vertx-start-process.id
**/package-lock.json
ui/src/main/frontend/dist/**
