<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>nexus</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <server>
      <id>snaps</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>minishift</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <altSnapshotDeploymentRepository>nexus::default::http://nexus:8081/repository/maven-releases/</altSnapshotDeploymentRepository>
        <altReleaseDeploymentRepository>nexus::default::http://nexus:8081/repository/maven-snapshots/</altReleaseDeploymentRepository>
      </properties>
      <repositories>
        <repository>
          <id>nexus</id>
          <name>Nexus Releases</name>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </snapshots>
          <url>http://nexus:8081/repository/maven-public/</url>
        </repository>
        <repository>
          <id>snaps</id>
          <name>Nexus Snapshots</name>
          <layout>default</layout>
          <releases>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </snapshots>
          <url>http://nexus:8081/repository/sonatype-snapshots/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>nexus</id>
          <url>http://nexus:8081/repository/maven-public/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>snaps</id>
          <url>http://nexus:8081/repository/maven-public/</url>
          <releases>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>

